## Python ish

# Virtual ENV
Include/
Lib/
Scripts

# Pip's caching mechanism
pip-selfcheck.json

# Mac
.DS_Store

# Win
Thumbs.db
ehthumbs.db

#IntelliJ
.idea

#yeoman
# node_modules
node_modules
report
coverage
## build Letting this through so I don't have to run Gulp on Heroku
tmp

# Log files
*.log

#bower_components
bower_components

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
