<script src="js/Chart.js/Chart.js"></script>
<script src="js/jquery/dist/jquery.js"></script>

<div style="width:80%">
	<div id="chart-container"></div>
</div>


<script>
		$.getJSON("/happiness-data", function(data) {
				$.each(data, function(index, dataset) {
					var id = dataset.label;
					console.log(dataset);
					$('#chart-container').append('<canvas id="' + id + '" height="450" width="600"></canvas><h2>'+id	+'</h2>');
					new Chart(document.getElementById(id).getContext("2d")).Doughnut(dataset.data);
				});
		});
</script>
