<script src="js/Chart.js/Chart.js"></script>
<script src="js/jquery/dist/jquery.js"></script>
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='css/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css'>

<style>
body {margin:0; font-family: 'Varela Round', sans-serif;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width:768px){.container{width:750px}}
@media (min-width:992px){.container{width:970px}}
@media (min-width:1200px){.container{width:1170px}}

.logo {max-height: 3em;}
.navbar {padding: 1em; margin: 0 0 2em; box-shadow: 0 0 1em rgba(0, 0, 0, .2);}
h1 {color:#16d393;}
</style>

<div class="navbar">
	<img src="../images/mot.svg" class="logo">
</div>
<div class="container" >
	<h1>Your Team's Feels</h1>
	<div id="chart-container" class="container">
		
            
	</div>
</div>


<script>
		$.getJSON("/happiness-data", function(data) {
				$.each(data, function(index, dataset) {
					var id = dataset.label;
					console.log(dataset);
					$('#chart-container').append('<div class="col-md-6"><canvas  id="' + id + '" height="450" width="600"></canvas><h2>'+id	+'</h2></div>');
					new Chart(document.getElementById(id).getContext("2d")).Doughnut(dataset.data);
				});
		});
</script>
